<a href="./records/new">Create</a>
<ul>
  {{#each records}}
  <li>
    {{this.name}}
<form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
<a href="./records/{{ this._id }}/edit">edit</a>
  </li>
  <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
    <button type="submit">delete</button>
  </form>
  {{/each}}
</ul>