<form action="/records" method="POST">
  {{!-- 提示 --}}
  <div class="form-group row">
    <label for="hint" class="col-sm-2 col-form-label">*必填欄位</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="hint" value="請輸入你的支出">
    </div>
  </div>

  {{!-- 名稱 --}}
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">名稱*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name">
    </div>
  </div>

  {{!-- 日期 --}}
  <div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">日期*</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" name="date">
    </div>
  </div>

  {{!-- 類別 --}}
  <div class="form-group row">
    <label for="category" class="col-sm-2 col-form-label">類別*</label>
    <div class="col-sm-10">
      <select id="category" class="form-select" aria-label="Default select example" name="categoryId"
      >
      <option value="" selected disabled hidden>請選擇</option>
        {{#each categories}}
        <option value={{this._id}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  {{!-- 金額 --}}
  <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">金額*</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="amount" name="amount" min="0">
    </div>
  </div>

  <button type="submit">新增支出</button>
  <a href="/">返回</a>
</form>